@model EmployeeManagement.Models.Employee

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Styles/styles.css" />

<h2>Actualizar Empleado</h2>

<form id="update-form" method="post">
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Position, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Position, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Office, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Office, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Office, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Salary, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Salary, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Salary, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group full-width">
            <div class="btn-container">
                <input type="submit" value="Actualizar" class="btn btn-primary" />
                <a href="@Url.Action("Index", "Employee")" class="btn btn-secondary">Regresar</a>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // Function validar form
            function validateForm() {
                let isValid = true;
                $('#name-error').text('');
                $('#position-error').text('');
                $('#office-error').text('');
                $('#salary-error').text('');

                if ($('#Name').val() === '') {
                    $('#name-error').text('Name is required.');
                    isValid = false;
                }
                if ($('#Position').val() === '') {
                    $('#position-error').text('Position is required.');
                    isValid = false;
                }
                if ($('#Office').val() === '') {
                    $('#office-error').text('Office is required.');
                    isValid = false;
                }
                // Elimina las comas del valor del salario y valida
                let salary = $('#Salary').val().replace(/,/g, '');
                if (salary === '' || isNaN(salary)) {
                    $('#salary-error').text('Valid salary is required.');
                    isValid = false;
                }

                return isValid;
            }

            $('#update-form').on('submit', function (e) {
                e.preventDefault();
                if (!validateForm()) {
                    return;
                }
                $.ajax({
                    url: '@Url.Action("UpdateEmployee", "Employee")',
                    type: 'POST',
                    data: $(this).serialize(),
                    success: function (response) {
                        if (response.success) {
                            alert(response.message);
                            window.location.href = '@Url.Action("Index", "Employee")';
                        } else {
                            alert(response.message);
                        }
                    },
                    error: function (xhr, status, error) {
                        alert('An error occurred: ' + error);
                    }
                });
            });
        });
    </script>
}
